################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BilgeAdam.TaskList/.vs/BilgeAdam.TaskList/v15/Server/sqlite3
